@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin: 0;
  background-color: black;
  color: white;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #299100;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
  background-color: #333;
}

nav li {
  display: inline;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

#home {
  background-image: url("/images/prisca.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000000;
  text-align: center;
  padding: 250px 0; /* Adjust the padding to your design */
}
#home h2 {
  font-size: 25px;
  font-weight: 600;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

footer h2 {
  font-size: 24px;
}

footer p {
  font-size: 16px;
}

.dark-mode {
  background-color: #ffffff;
  color: #000000;
}
#dark-mode-toggle {
  padding: 5px;
  border-radius: 20px;
  margin-top: 10px;
}
